<!-- Main Content -->
<div class="row" style="background-color: white">
  <div class="col-lg-8 col-md-12 mx-auto text-justify">
    <p>Fitness has been a part of my life for the past 6 years. It started off as a hobby but as my interest in fitness grew,
      so did my passion for it and before I realised it, I got qualified as a PT and made my dream job a reality.
    </p>

    <h4>FITNESS</h4>
    <p>
      Since I started my fitness journey, it drove me towards a different approach and a belief that there is more to life than
      planning it around food and performing everyday tasks. I love challenging my body and achieving a little bit more every
      time. It’s an incredible feeling – being able to do today what I thought was impossible yesterday! I want to share
      my knowledge and experience with you to help you use your body to its full potential, feel comfortable in your own
      skin and avoid the same mistakes I made along the way.
    </p>
    <p>
      I specialize in life-changing transformations so I’m here to help you reach your goals no matter what they are – gaining
      muscle, losing body fat, becoming stronger and more toned, or just being more active.
    </p>
    <h4>NUTRITIONS</h4>
    <p>
      When it comes to nutrition, I truly believe that it is all about balance. I’m not offering you crash diets and “quick fixes”
      because let’s face it, these are not sustainable. Instead, you will get a flexible maintainable meal plan and guidance
      on how to make healthy food choices. Once you adapt to new eating habits and start having a healthier relationship
      with food, you’ll realise that you won’t have to spend a day on a diet.
    </p>
    <p>
      No matter what your current circumstances are and where you’re in life right now, I want to show you that your goals are
      achievable, however big or small they are.
    </p>

    <a href="img/about/about_img.jpg">
      <img class="img-fluid" src="img/about/thumbnails/about_img.jpg" alt="Katya Perrott">
    </a>

    <p>
      Let me show you how the right training and nutrition can change your life!
    </p>
  </div>
</div>