<!-- Post Content -->
<article>
  <div class="container">
    <div class="row" style="background-color: white">
      <div class="col-lg-8 col-md-12 mx-auto text-justify">
        <p>
          I specialize in body and lifestyle transformations by using physical workouts, nutrition adjustments, and improvements in
          thinking as I believe in training both the body and the mind. I will advise you on how to exercise correctly and
          eat right on a daily basis and will guide you through various aspects of fitness, from nutrition to mobility. I
          can deliver all this to you through my online personal training programs in order to help you achieve your health
          and fitness goals.
        </p>
        <p>
          My online training programs are fully customized and created specifically for you and your goals. I create them to suit your
          lifestyle, considering time which suits you best and the environment where you feel the most comfortable, be it
          the gym, your own home, beach, park, or a hotel if you travel for work. My mission is simple: To get you on the
          journey.
        </p>
        <h4>
          How it works
        </h4>
        <p>
          <strong>Questionnaire:</strong> First, you will fill in a questionnaire to help me learn important details about your daily activity levels,
          food preferences, any existing allergies, and personal fitness goals.
        </p>
        <p>
          <strong>Program:</strong>  Once you have done that, I will create a customized training program and will email it to you within 3
          days.
        </p>
        <p>
          <strong>Meal plan:</strong>  I will create a delicious easy-to-follow meal plan which you will have full access to. I will also show you how
          to make the best nutrition choices every day regardless of your current life commitments and circumstances.
        </p>
        <p>
          <strong>24/7 support:</strong> You will receive an ongoing 24/7 support and you will have an access to chat with me.
        </p>
        <p>
          <strong>Review:</strong> I will update all of your workout and meal plans on a monthly basis to keep them fresh and to make sure you keep
          getting results.
        </p>
        <p>
          An online personal training has no geographical limits and gives me an opportunity to help people all over the world.
        </p>
        {{!--
        <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe,
          having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no
          center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth,
          if free men make it, will be truly round: a globe in practice, not in theory.</p>

        <p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back
          from science. The early warnings about technological dangers also come from science.</p>

        <p>What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on
          the earth.</p>

        <p>A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors
          rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and
          cherish her.</p>

        <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience
          most certainly changes your perspective. The things that we share in our world are far more valuable than those
          which divide us.</p>

        <h2 class="section-heading">The Final Frontier</h2>

        <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task
          to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

        <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task
          to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

        <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science
          has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>

        <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical
          process which mankind is carrying out in accordance with the natural laws of human development.</p>

        <h2 class="section-heading">Reaching for the Stars</h2>

        <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble,
          the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if
          you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>

        <a href="#">
          <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
        </a>
        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living
          is all about.</span>

        <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore
          strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>

        <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to
          our nature, Man must explore, and this is exploration at its greatest.</p>

        <p>Placeholder text by
          <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
          <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p> --}}
      </div>
    </div>
  </div>
</article>